header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0px;
  z-index: 11;
  width: 98%;
  background-color: #0b192f;
  margin-left: -1em;
  padding: 2em;
  margin-top: -1em;
}

ul {
  width:100%;
}

img {
  height: 4em;
}
